body{
    background-color: aqua;
}

h1{
    color: blueviolet;
    font-size: 200px;
}

image{
    color:greenyellow;
}


/*****************Id selectors*****************/
  #heading{
    color:pink;
  }
